﻿@model NotifyAdmin.ViewModels.AddNotificationViewModel

@{
    ViewBag.Title = "Nueva notificación";
    string errorMessage = ViewBag.Message;
}

<h2>Nueva notificación</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Notificación</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Notification.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Notification.name, new { htmlAttributes = new { @class = "form-control", @cols = 1, @rows = 2 } })
                @Html.ValidationMessageFor(model => model.Notification.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notification.content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notification.content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Notification.content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedGroup, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Notification.group.id, Model.Groups, "Seleccione un grupo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedGroup, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" formaction="SaveNew"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>
@ViewData["Mensaje"]
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

