﻿@model IEnumerable<NotifyAdmin.Models.Notification>
@{
    ViewBag.Title = "Notificaciones";
    string errorMessage = ViewBag.Message;
}

<div>
    <!-- Show error popup-->
    @if (errorMessage != null)
    {
        <div class="breadcrumb alert-danger">@errorMessage</div>
    }
</div>

<h2>Notificaciones</h2>
<div>
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Autor</th>
                <th>Titulo</th>
                <th>Contenido</th>
                <th>Fecha Creación</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(value => item.id) </td>
                    <td>@Html.DisplayFor(value => item.author) </td>
                    <td>@Html.DisplayFor(value => item.name) </td>
                    <td>@Html.DisplayFor(value => item.content) </td>
                    <td>@item.creationDate.ToShortDateString() </td>

                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.id })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (ViewData["Mensaje"] != null)
{
    <div class="breadcrumb alert-info">@ViewData["Mensaje"]</div>
}

<div>
    @Html.ActionLink(
                    "Crear nueva",
                    "Add",
                    null,
                    new { @class = "btn btn-success btn-md" }
        )
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" language="javascript">
		        $(document).ready(function() {
			        $('#example').DataTable();
		        } );
    </script>
    <script src="~/Scripts/jquery-2.2.3.js" type="text/javascript"></script>
    <script src="~/Content/jquery.dataTables.min.js" type="text/javascript"></script>
    
}
