﻿@model IEnumerable<NotifyAdmin.Models.ClientUser>

@{
    ViewBag.Title = "Usuarios";
}
<h2>Usuarios</h2>
<div>
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.usertype)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tbody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.usertype)
                    </td>
                    <td>
                        @Html.ActionLink("Borrar", "Delete", new { id = item.id, @class = "glyphicon glyphicon-remove" })                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink(
                    "Crear nuevo",
                    "Add",
                    null,
                    new { @class = "btn btn-success btn-md" }
        )
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <script src="~/Scripts/jquery-2.2.3.js" type="text/javascript"></script>
    <script src="~/Content/jquery.dataTables.min.js" type="text/javascript"></script>
}
