﻿@model NotifyAdmin.Models.ClientUser
@{
    ViewBag.Title = "Login";
    string errorMessage = ViewBag.Message;
}

<!-- Show error popup-->
@if (errorMessage != null)
{
    <script type="text/javascript">alert('@errorMessage')</script>
}

<h3>Login</h3>
@using (Html.BeginForm("Login", "Login"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
    
    if (ViewData["Mensaje"] != null)
    {
        <div class="breadcrumb alert-danger">
            @ViewData["Mensaje"]
        </div>
    }
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
