﻿@model NotifyAdmin.ViewModels.AddGroupAdminViewModel
@{
    ViewBag.Title = "Agregar Coordinador";
}

<h2>AddAdmin</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Notificación</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedGroup, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedGroup.Value, Model.Groups, "Seleccione un grupo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedGroup, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedUser.Value, Model.Users, "Seleccione un usuario", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedGroup, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" formaction="AdminNew" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

