﻿@model IEnumerable<NotifyAdmin.Models.Group>

@{
    ViewBag.Title = "Lista de Grupos";
    string errorMessage = ViewBag.Message;
}

<div>
    <!-- Show error popup-->
    @if (errorMessage != null)
    {        
        <div class="breadcrumb alert-warning">@errorMessage</div>
    }
</div>

<h2>Grupos</h2>

<div>
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.active)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.active)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Notificaciones", "ListNotification", new { id = item.id }) |
                        @if (item.active)
                        {
                            if (!item.IsPublic)
                            {
                                @Html.ActionLink("Desactivar", "Delete", new { id = item.id })
                            }
                        }
                        else
                        {
                            @Html.ActionLink("Activar", "Delete", new { id = item.id })
                        }
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>

@if (ViewData["Mensaje"] != null)
{
    <div class="breadcrumb alert-info">@ViewData["Mensaje"]</div>
}

<div>
    @Html.ActionLink(
                    "Crear grupo",
                    "Add",
                    null,
                    new { @class = "btn btn-success btn-md" }
        )
    @Html.ActionLink(
                    "Crear notificacion",
                    "AddNotification",
                    null,
                    new { @class = "btn btn-warning btn-md" }
        )
    @Html.ActionLink(
                    "Agregar Coordinador",
                    "AddAdmin",
                    null,
                    new { @class = "btn btn-info btn-md" }
        )
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <script src="~/Scripts/jquery-2.2.3.js" type="text/javascript"></script>
    <script src="~/Content/jquery.dataTables.min.js" type="text/javascript"></script>
}



